@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Kaisei HarunoUmi", serif;
   
}

.navbar{
    width:100%;
    height:101px;
    padding-top: 20px;
    background-color: #365314;


}
.nav-heading{   
    color:white;
    font-weight: 700;
    font-size:30px;
    padding-left:   23px;
}
.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-content{
    list-style: none;
    display:inline-block;
    font-weight: 500;
    margin: 15px;
    font-size: 24px;
}
.nav-images{
    width:50%;
    height:50%;
  
   
}

li a{
    text-decoration: none;
    color:white;    
    margin-right:30px ;
}
a:hover{
    text-decoration: underline;
}
.link-section{
    padding-left: 3%;
    padding:20px;
}
.search-section
{
    margin-top:20px;
}

.search-bar{
   border:1px solid #365314;
   width:25%;
   padding:10px;

}
.search-heading{
    display:flex;
    gap:30px; 
    font-size:15px;
  
}
.search-button
{
    color:#365314;
}
.Service-center{
    padding: 10px;
    border:1px solid #365314;
    width:30%;
    height: 200px;


}
.center-heading{
    display:flex;
    font-size:15px;
    color:#365314;
    gap:30px;
}
.kms{
    font-size: 10px;
    color:rgb(114, 111, 111);
    padding-top:10px;
}
.Details{
    font-size: 10px;
}
.more-details{
    border:2px solid #365314;
    padding-right: 10px;
    margin-top: 25px;

}
.more-details h2{
    text-align: center;
}
/* footer section */
footer{
    margin-top: 10%;
    width:100%;
    height:400px;
    background-color:#000000;

}
.footer-section{
    color:#365314;
    font-size: 45px;
    padding-top: 30px;
    font-weight: 500;
    margin: 5%;

}
.footer-paragraph
{
    text-align: center;
}
.footer-images{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap:50px;
}
.container{
    
    display:flex;
    justify-content: space-between;
   
}
.footer-content {
    font-size: 18px;

}
.footer-heading{
    font-size: 15px;
    color:white;

}

.footer-heading-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-email{
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: center;
}
.footer-logo{
    display: flex;
    gap:10px;
}

.footer-contact{
    display: flex;
    gap:15px;
    align-items: center;
}

.list{
    font-size: 15px;
    list-style: none;
}
.form-line{
    width:205%;
    height:2px;
    border:2px solid white;
    margin:5%
}

.bottom-section{
    font-size: 18px;
    text-align: center;
}

.footer-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.footer-line{
    border: 1px solid #ffffff;
    width:87rem;
}

.footer-bottom-info{
    color:#3F6212;
    font-size:18px;
}